@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

img{
      display: block;
      max-width: 100%;
      height: auto;
}

.nowrap{
      white-space: nowrap;
}

html{
      scroll-behavior: smooth;
}

body{
      font: 1.5rem;
      min-width: 100vh;
      background-color: #475569;
      background-image: radial-gradient(whitesmoke,#475569 );
      display: flex;
      flex-direction: column;


}
header footer{
      position: sticky;
      background-color: rgb(22, 65, 65);
      color: white;
      text-align: center;
}

header{
      top: 0;
}

nav{
      background-color: aliceblue;
      padding: 0.5rem;
      border-bottom: 2px solid rebeccapurple;
      font-weight: bolder;
      display: flex;
      justify-content: space-evenly;

}

nav a,
nav a:visited{
      color: black;
}

nav a:hover,
nav a:focus{
      color: antiquewhite;
}

main{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding: 1rem;

}

footer{
      bottom: 0;
}

.card{
      scroll-margin-top: 8rem;
      width: min(100%, 350px);
      background-color: aliceblue;
      border: 2px solid black;
      border-radius: 15px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      
}

.card figure{
      display: flex;
      flex-flow: column nowrap;
}

.card img{
      border: 5px double #333;
      border-radius: 50%;
}
.card figcaption{
      font-weight: bolder;
      font-size: 2rem;
      margin: 1rem;
      text-align: center;     
}

/* small */

@media screen and (min-width: 576px) {
      main{
            justify-content: center;
            flex-flow: row wrap;
            padding: 1rem;
      }

      .card{
            width: min(100% 400px);

      }
      
      .card :last-child{
            order: -1;

      }
}

/* medium */

@media screen and (min-width: 768px){
      nav{
            display: none;
      }

      .card{
            width: min(100%, 325px);
      }

      .card figure{
            flex-flow: column-reverse
      }
      .card p{
            margin-top: 1rem;
      }
}

/* large */

@media screen and (min-width: 992px) {
      .card {
            width: min(100%, 400px);
      }

      .card:nth-child(2){
            order: -1;
      }
      
}

/* XL */

@media screen and (min-width: 1200px){ 
      .card{width: min(33%-1rem, 500px);

      }
      
}


/* mobile */

@media screen and ( max-height: 425px) and (min-aspect-ratio: 7/4) {
      h1{
            font-size: 1.5rem;
      }

      nav{
            display: none;
      }
      
      main{
            flex-flow: row nowrap;
      }
}

nav{
      display: none;
}




