@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

img{
      display: block;
      max-width: 100%;
      height: auto;
}

.nowrap{
      white-space: nowrap;
}

html{
      scroll-behavior: smooth;
}

body{
      font: 1.5rem;
      min-width: 100vh;
      background-color: #475569;
      background-image: radial-gradient(whitesmoke,#475569 );
      display: flex;
      flex-direction: column;


}
header footer{
      position: sticky;
      background-color: rgb(22, 65, 65);
      color: white;
      text-align: center;
}

header{
      top: 0;
}

nav{
      background-color: aliceblue;
      padding: 0.5rem;
      border-bottom: 2px solid rebeccapurple;
      font-weight: bolder;
      display: flex;
      justify-content: space-evenly;

}

nav a,
nav a:visited{
      color: black;
}

nav a:hover,
nav a:focus{
      color: antiquewhite;
}

footer{
      bottom: 0;
}

.card{
      scroll-margin-top: 8rem;
      width: min(100%, 350px);
      background-color: aliceblue;
      border: 2px solid black;
      border-radius: 15px;
      padding: 1rem;
      
}