                                    * {
                                        margin: 0;
                                        padding: 0;
                                    }
                                    
                                    nav {
                                        background-color: black;
                                        color: white;
                                        padding: 15px;
                                    }
                                    
                                    li,
                                    h1,
                                    ul {
                                        display: inline-block;
                                    }
                                    
                                    li {
                                        color: gray;
                                        cursor: pointer;
                                    }
                                    
                                    ul {
                                        margin-left: 60%;
                                    }
                                    
                                    li:hover {
                                        color: white;
                                    }
                                    
                                    input {
                                        width: 60%;
                                        padding: 15px;
                                    }
                                    
                                    .searchBar {
                                        padding: 50px;
                                    }
                                    
                                    .box {
                                        border-color: black;
                                        border-width: 2px;
                                        border-style: solid;
                                        display: inline-block;
                                        width: 200px;
                                        height: 200px;
                                    }
                                    
                                    .box:hover {
                                        background-color: black;
                                        color: white;
                                    }
                                    
                                    .products {
                                        text-align: center;
                                    }
                                    
                                    .about {
                                        text-align: center;
                                        padding: 50px;
                                    }
                                    
                                    .contact {
                                        text-align: center;
                                        padding: 50px;
                                        background-color: black;
                                        color: white;
                                    }