                * {
                    margin: 0;
                    padding: 0;
                }
                
                nav {
                    background-color: black;
                    color: white;
                    padding: 15px;
                }
                
                li,
                h1,
                ul {
                    display: inline-block;
                }
                
                li {
                    color: gray;
                }
                
                ul {
                    margin-left: 70%
                }