.one{
      background-color: black;
      height: 100px;
      width: 100px;
      margin-top: 10px;
}

.two{
      background-color: brown;
      height: 100px;
      width: 100px;
      margin-top: 10px;
      position: relative;
      left: 50px;
      top: 50px;
      z-index: 1;

}

.three{
      background-color: yellow;
      height: 100px;
      width: 100px;
      margin-top: 10px;
      z-index: 2;
      position: relative;
}